<mat-card class="card">
    <mat-card-title>
        Cadastro Novo Cliente
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" [(ngModel)] = "product.nome" name="nome">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Rua"[(ngModel)] = "product.rua" name="rua">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Bairro" [(ngModel)] = "product.bairro" name="bairro">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Complemento"[(ngModel)] = "product.complemento" name="complemento">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone" [(ngModel)] = "product.telefone" name="telfone">
            </mat-form-field>
        </form>

        <button class="salvar" mat-raised-button (click)="createProduct()" color="primary">
            Salvar
        </button>

        <button class="cancelar" mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card-title>
</mat-card>