table {
    width: 100%;
    background-color: #8897ec;
}
td{
    color: black;
    font-size: medium;

}
th{
    color:  black;
    font-size: medium;
   
}

.edit{
    margin-right: 20px;
}

.edit > i {
    color: rgb(202, 202, 15);
}

.delete > i {
    color: brown;
}
div{
    background-color:  black;
}