table {
    width: 100%;
    background-color: #8897ec;
}
td{
    color: black;
    justify-content: center;
}
th{
    color:  black;
    justify-content: center;
}

.edit{
    margin-right: 20px;
}

.edit > i {
    color: rgb(202, 202, 15);
}

.delete > i {
    color: brown;
}

