.header {
    background-color: #d8e6ed;
    display: flex;
    align-items: center;
    height:5rem;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header .logo {
    max-height: 130px;
}

.header .title-group{
    padding-left: 25px;
    color: black;
}
.header .title-group i {
    padding-right: 5px;
}

.material-icons{
    color: black;
}

.btn-group{
    margin-left: 9.5rem;
   display: flex;
}

/*cor da letra #cea974*/