form {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px 15px 0px 0px;
}

.salvar {
    background-color: #8897ec;
}

.cancelar {
    background-color: rgb(179, 43, 43);
    color: black;
}