<mat-card class="card">
  <mat-card-title>
    Deletar Produto!
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [value]="product.nome"
          name="nome"
          disabled
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Rua"
          [value]="product.rua"
          name="rua"
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Bairro"
          [value]="product.bairro"
          name="bairro"
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Complemento"
          [value]="product.complemento"
          name="complemento"
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Telefone"
          [value]="product.telefone"
          name="telefone"
          disabled
        />
      </mat-form-field>
    </form>

    <button
      class="salvar"
      mat-raised-button
      (click)="deleteProduct()"
      color="warn"
    >
      Excluir
    </button>

    <button class="cancelar" mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card-title>
</mat-card>
