<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> <em>Bem Vindo ao Brasileirão Lanches !!!</em> </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sistema para cadastro de clientes...
  </mat-card-subtitle>
</mat-card>
<br/>
<br/>
<p><strong> Para pode cadstrar um novo cliente basta clicar no botão: </strong></p>
<br>
<div><button color="primary" mat-raised-button class="exBtn" (click)="navigateToProductCreate()">Novo Cliente</button></div>
<br/>
<p><strong>e digitar os dados de residencia e telefone do novo cliente...</strong></p>
