<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Bem Vindo ao Brasileirão Lanches !!! </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sistema para cadastro de clientes...
  </mat-card-subtitle>
</mat-card>
<div class="card">
  <div class="card-body">
    <br />
    <br />
    <div class="form-group">
      <p><strong> Para poder cadastrar um novo cliente basta clicar no botão </strong></p>
      <br>
      <p><strong>e digitar os dados do novo cliente...</strong></p>
      <br>
      <div><button color="primary" mat-raised-button class="exBtn" (click)="navigateToProductCreate()">Novo
          Cliente</button>
      </div>
    </div>
  </div>
</div>