form{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
}   

button{
    margin:5px 15px 0px 0px;
}

.cancelar{
    background-color: rgb(153, 153, 150);
    color: black;
}
.salvar{
    background-color: green;
}

.card{
    background-color: #e8c2b9;
    color: black;
}