.sidenav{
    background-color: #d8e6ed;
    width: 9rem;
}

.sidenav a {
    color: black;
    background-color: #d8e6ed;
}

.sidenav i {
    padding-right: 8px;
    background-color: #d8e6ed;
}

.content{
    background-color: #fff;
    color: black;
    padding: 16px;
}